@using AbsenzAPPDBHosting.Views.Shared.Admin
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Components.Web

<div>
    <component type="typeof(AdminPdfHochladen)" render-mode="Static" />
</div>