@using AbsenzAPPDBHosting.BusinessLogic2
@using AbsenzAPPDBHosting.Models
@using AbsenzAPPDBHosting.Models.SchulerAbsenzUbersicht
@namespace AbsenzAPPDBHosting.Views.Shared.RazorPages
@inject SchulerLogic _schulerLogic;


<h2>Schüleransicht</h2>

<div class="row">
	<div class="col-6">
		@if (schuler1 != null)
		{
			<p>@schuler1.Id</p>
			<p>@schuler1.Name</p>
		}
	</div>
</div>



@code {

	SchulerUbersicht schuler1;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		schuler1 = _schulerLogic.GetSchulerdata();
	}


}
