@using AbsenzAPPDBHosting.BusinessLogic2
@using AbsenzAPPDBHosting.Models
@using AbsenzAPPDBHosting.Models.SchulerAbsenzUbersicht
@namespace AbsenzAPPDBHosting.Views.Shared.RazorPages
@inject SchulerLogic _schulerLogic;


<h2>Schüleransicht</h2>

<div class="row">
	<div class="col-6">
		@if(_schulerliste != null)
		{
			foreach (Schueler schuler in _schulerliste)
			{
				<p>@schuler.Name</p>
			}
		}
	</div>
</div>



@code {

	List<Schueler> _schulerliste;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		_schulerliste = _schulerLogic.GetSchulerdata();
	}

	protected override void OnAfterRender(bool firstrender)
	{
		_schulerliste = _schulerLogic.GetSchulerdata();
	}


}
