@using AbsenzAPPDBHosting.Views.Shared.RazorPages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Components.Web

<div>
    <component type="typeof(Elternansicht)" render-mode="Static" />
</div>