@using AbsenzAPPDBHosting.Views.Shared.Lehrer
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Components.Web

<div>
    <component type="typeof(LehrerSchuelerstatusAktualisieren)" render-mode="Static" />
</div>
