@using AbsenzAPPDBHosting.Views.Shared.RazorPages
@addTagHelper *, Microsoft.AspNetCore.Components.Web

<div>
    <component type="typeof(AbsenzAPPDBHosting.Views.Shared.RazorPages.Schuleransicht)" render-mode="Static" />
</div>
