@model AbsenzAPPDBHosting.Models.Absenzen

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Absenzen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schueler" class="control-label"></label>
                <input asp-for="Schueler" class="form-control" />
                <span asp-validation-for="Schueler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absenzgrund" class="control-label"></label>
                <input asp-for="Absenzgrund" class="form-control" />
                <span asp-validation-for="Absenzgrund" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lehrer" class="control-label"></label>
                <input asp-for="Lehrer" class="form-control" />
                <span asp-validation-for="Lehrer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modul" class="control-label"></label>
                <input asp-for="Modul" class="form-control" />
                <span asp-validation-for="Modul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
